body{
    background-color:red;
    color:black;
    text-align:center;
}

image{
    text-align:center;
    height:100%;
    width:100%;
}

.table{
    
}

a:link{
    text-align:center;
    Color:black;
}